.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.text-align {
  text-align: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-end {
  justify-content: flex-end;
}

.margin-bottom {
  margin-bottom: 5rem;
}

.no-wrap {
  flex-wrap: nowrap;
}

.space-around {
  justify-content: space-around;
}

.position-lower {
  position: relative;
  top: 1rem;
}

.align-right {
  margin-left: auto;
  margin-right: 0;
}

.column-full,
.column-75,
.column-half {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-75,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .column-75 {
    width: 75%;
  }

  div.review-bar {
    font-size: 1.05rem;
  }

  div.text {
    font-size: 0.9rem;
  }

  textarea.review-box {
    font-size: 1rem;
  }

  i.edit-icon {
    font-size: 1.5rem;
    float: right;
    margin-right: 0.5rem;
    cursor: pointer;
    margin-top: -0.12rem;
    position: relative;
    top: 0.05rem;
  }

  i.close-icon {
    font-size: 1.5rem;
    margin-right: 0.1rem;
    cursor: pointer;
    float: right;
    margin-top: -0.05rem;
    position: relative;
    top: 0.05rem;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1291px;
  }

  .column-full,
  .column-75,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .column-75 {
    width: 75%;
  }

  img.ghibli-logo {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }

  a.my-review {
    font-size: 2rem;
  }

  a.my-review-nav {
    font-size: 2rem;
    margin-right: 1rem;
  }

  div.review-bar {
    font-size: 1.5rem;
  }

  div.text {
    font-size: 1.2rem;
  }

  textarea.review-box {
    font-size: 1.2rem;
  }

  i.edit-icon {
    font-size: 1.5rem;
    float: right;
    margin-right: 0.5rem;
    cursor: pointer;
    margin-top: -0.12rem;
    position: relative;
    bottom: 0.1rem;
  }
}
