* {
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.4;
}

label {
  display: inline-block;
  font-size: 1.5rem;
  margin-top: 1rem;
}

header {
  padding: 0.4rem 0;
  margin-bottom: 1rem;
}

li {
  list-style-type: none;
  margin-bottom: 1.5rem;
}

span {
  color: #02aff0;
  font-weight: 500;
  font-size: 1.1rem;
}

.review-bar {
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  margin-right: 0.2rem;
}

.search {
  margin-left: 1rem;
}

.home-body {
  width: 100%;
  height: 100vh;
  background-color: #02aff0;
}

.white-text {
  color: white;
}

.ghibli-logo {
  width: 100%;
  margin-top: 1rem;
  margin-left: 1rem;
}

.my-review {
  text-decoration: none;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  transition: 0.1s;
}

.my-review-nav {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  transition: 0.1s;
  display: inline-block;
}

.my-review:hover {
  transform: scale(1.1);
}

@media (hover: hover) {
  .my-review-nav:hover {
    transform: scale(1.1);
  }
}

.select {
  width: 80%;
  border-radius: 5px;
  font-size: 1.5rem;
  color: gray;
  padding: 0.2rem 0;
}

.select:focus {
  border: 2px solid #0091c8;
  outline: none;
}

.go {
  width: 15%;
  background-color: #0291c8;
  border-radius: 5px;
  border: none;
  padding: 0.35rem 0;
  font-size: 1.5rem;
  margin-left: 0.3rem;
  cursor: pointer;
}

.go:hover {
  background-color: #006d98;
}

.go:active {
  transform: scale(0.9);
}

.background-blue {
  background-color: #02aff0;
}

.nav-logo {
  width: 25%;
  cursor: pointer;
  position: relative;
  right: 0.4rem;
  transition: 0.5s;
}

.nav-logo:hover {
  transform: scale(1.05);
}

.title-blue {
  background-color: #00678c;
}

.sub-blue {
  background-color: #0091c8;
}

.italic {
  font-style: italic;
}

.text {
  color: #585858;
  margin-bottom: 0.3rem;
  white-space: pre-wrap;
}

.ghibli-image {
  object-fit: contain;
  width: 100%;
  margin-bottom: 0.3rem;
}

.review-box {
  width: 100%;
  border-radius: 5px;
  font-size: 1.2rem;
}

.review-box:focus {
  border: 2px solid #0091c8;
  outline: none;
}

.save {
  background-color: #00678c;
  border-radius: 5px;
  border: none;
  padding: 0.35rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  float: right;
  margin: 0.5rem 0;
}

.add-new-button {
  background-color: #00678c;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 0.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  text-decoration: none;
}

.save:hover,
.add-new-button:hover {
  background-color: #007dab;
}

.no-review {
  font-size: 1.2rem;
  margin-top: 5rem;
  margin-bottom: 4rem;
  color: #585858;
}

.fa-edit {
  float: right;
  font-size: 1.6rem;
  margin-top: 0.2rem;
  margin-right: 0.75rem;
  cursor: pointer;
}

.fa-window-close {
  float: right;
  font-size: 1.7rem;
  margin-top: 0.175rem;
  margin-right: 0;
  cursor: pointer;
}

.fa-edit:hover {
  color: rgb(219, 51, 219);
}

.fa-window-close:hover {
  color: red;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 60, 79, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.dialogue {
  background-color: white;
  height: 12rem;
  width: 22rem;
  margin: 11rem auto;
  border-radius: 5px;
  padding-top: 1rem;
}

.cancel {
  position: relative;
  top: 1rem;
  background-color: #b6b6b6;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

.cancel:hover {
  background-color: #bdbdbd;
}

.confirm {
  position: relative;
  top: 1rem;
  background-color: #dc2828;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

.confirm:hover {
  background-color: rgb(216, 79, 79);
}

.modal-button {
  margin-top: 2rem;
}

.question {
  margin-top: 1rem;
  font-weight: 500;
  color: #585858;
}

.no-review-text {
  margin-bottom: 3rem;
}

.ok {
  background-color: #0291c8;
  border-radius: 5px;
  border: none;
  padding: 0.35rem 1rem;
  font-size: 1.4rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
  position: relative;
}

.ok:hover {
  background-color: #006d98;
}

.count-text {
  text-align: right;
  font-size: 1.4rem;
  color: #006d98;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.number {
  font-weight: 500;
  text-align: right;
  font-size: 1.5rem;
  color: #0291c8;
}

.all-number {
  font-weight: 500;
  text-align: right;
  font-size: 1.5rem;
  color: #006d98;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  position: absolute;
  top: 43.5%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 40px;
  will-change: transform;
}
