* {
  font-family: sans-serif;
  font-weight: 300;
}

label {
  display: inline-block;
  font-size: 1.5rem;
  margin-top: 1rem;
}

header {
  padding: 0.3rem 0;
  margin-bottom: 1.5rem;
}

li {
  list-style-type: none;
}

.search {
  margin-left: 2rem;
}

.home-body {
  width: 100%;
  height: 100vh;
  background-color: #02aff0;
}

.flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.white-text {
  color: white;
}

.ghibli-logo {
  width: 100%;
  margin-top: 1rem;
}

.my-review {
  text-decoration: none;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 400;
  transition: 0.1s;
}

.my-review-nav {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  transition: 0.1s;
  display: inline-block;
}

.my-review:hover {
  transform: scale(1.1);
}

.my-review-nav:hover {
  transform: scale(1.1);
}

.select {
  width: 80%;
  border-radius: 5px;
  font-size: 1.5rem;
  color: gray;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.3rem;
  padding-right: 1rem;
}

.select:focus {
  border: 2px solid #0091c8;
  outline: none;
}

.go {
  width: 12%;
  background-color: #0291c8;
  border-radius: 5px;
  border: none;
  padding: 0.35rem 0.4rem;
  font-size: 1.5rem;
  margin-left: 0.3rem;
  cursor: pointer;
}

.go:hover {
  background-color: #006d98;
}

.go:active {
  transform: scale(0.9);
}

.background-blue {
  background-color: #02aff0;
}

.nav-logo {
  width: 25%;
  cursor: pointer;
  position: relative;
  right: 0.4rem;
  transition: 0.5s;
}

.nav-logo:hover {
  transform: scale(1.06);
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.review-bar {
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.title-blue {
  background-color: #00678c;
}

.sub-blue {
  background-color: #0091c8;
}

.italic {
  font-style: italic;
}

.text {
  color: #585858;
  line-height: 1.2;
  margin-bottom: 0.3rem;
}

.ghibli-image {
  object-fit: cover;
  width: 100%;
  height: 38rem;
  margin-bottom: 0.3rem;
}

.review-box {
  width: 100%;
  border-radius: 5px;
  font-size: 1.2rem;
  margin: 0;
}

.review-box:focus {
  border: 2px solid #0091c8;
  outline: none;
}

.save {
  background-color: #00678c;
  border-radius: 5px;
  border: none;
  padding: 0.35rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  float: right;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.save:active {
  transform: scale(0.9);
}

.add-new-button {
  background-color: #00678c;
  border-radius: 5px;
  border: none;
  padding: 0.5rem 1.2rem;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
}

.save:hover,
.add-new-button:hover {
  background-color: #007dab;
}

.margin-bottom {
  margin-bottom: 5rem;
}

.text-align {
  text-align: center;
}

.no-review {
  font-size: 1.2rem;
  margin-top: 7rem;
  margin-bottom: 4rem;
  color: #585858;
}

.fa-edit {
  float: right;
  margin-top: 0.08rem;
  margin-right: 1rem;
  cursor: pointer;
}

.fa-window-close {
  float: right;
  font-size: 1.7rem;
  margin-top: 0.025rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.fa-edit:hover {
  color: rgb(219, 51, 219);
}

.fa-window-close:hover {
  color: red;
}

.overlay {
  position: fixed;
  background-color: rgba(0, 60, 79, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.dialogue {
  background-color: white;
  height: 12rem;
  width: 27rem;
  margin: 11rem auto;
  border-radius: 5px;
  padding-top: 1rem;
}

.cancel {
  background-color: #b6b6b6;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

.cancel:hover {
  background-color: #bdbdbd;
}

.confirm {
  background-color: #dc2828;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

.confirm:hover {
  background-color: rgb(216, 79, 79);
}

.modal-button {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 2rem;
}

.question {
  margin-top: 2rem;
  font-weight: 500;
}

.no-review-text {
  margin-bottom: 3rem;
}

.flex-column {
  flex-direction: column;
}
